<div class="pwd">
  <input [placeholder]="confirm ? 'Confirm Password' : 'Enter Password'" (focus)="onFocus($event)" (blur)="onBlur($event)"
    (click)="handleCaps($event)" (input)="onInput($event)">
  <div class="pwd-message" *ngIf="show">
    <div *ngIf="error.caps">Caps Lock On</div>
    <ng-container *ngIf="!confirm">
      <div *ngIf="error.min">Minimum 8 characters</div>
      <div *ngIf="error.num">1 number</div>
      <div *ngIf="error.letter">1 letter</div>
      <div *ngIf="error.special">Only these special characters can be used: ! @ # $</div>
    </ng-container>
    <ng-container *ngIf="confirm">
      <div *ngIf="error.match">Password must match</div>
    </ng-container>
  </div>
</div>