.pwd {
    width: 400px;
    padding: .1rem;

    &-message {
        div {
            padding: 10px;
            background-color: lightgray;
            color: dimgray;
        }
    }

    input {
        font-size: 2rem;
        width: 100%;
        box-sizing: border-box;
    }
}
